.App {
  font-family: sans-serif;
  /* text-align: c enter; */
}

.profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-like,
.btn-dislike{
  font-size: 1rem;
}

.msg-container{
  padding: 2rem;
  /* border-top: 5px solid orange; */
}

.add-color{
  display: flex;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  /* background-color: orange; */
  width: 340px;
}

.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
}

.movie-list-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}